body {
  background: #202020;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  padding: 60px;
}

input,
textarea {
  border-radius: 8px;
  padding: 8px 12px;
}

button {
  border-radius: 8px;
  padding: 8px 12px;
}
